<div class="container col-md-6">
        <h1>AGREGAR INVENTARIO</h1>
      <div class="card-body">
        <form action="">
          <div class="form-group">
            <label for="">NOMBRE:</label>
            <input [(ngModel)]="inventario.nombre" name="nombre" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="">EXISTENCIAS:</label>
            <input [(ngModel)]="inventario.existencias" name="existencias" type="text" class="form-control">
          </div>
          <button (click)="add()" class="btn btn-danger">AGREGAR</button>
        </form>
    </div>
  </div>