<div class="container">
    <div class="card">
        <div class="card-header text-center">
            <h3>Citas</h3><button class="btn btn-warning" routerLink="/addcita" (click)="crearCita(citas)">Reservar Cita</button> 
        </div>
        <div class="body">
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th>USUARIO</th>
                        <th>FECHA</th>
                        <th>HORA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cita of citas | paginate: { itemsPerPage: 5, currentPage: page }" class="text-center">
                        <td>{{cita.usuario.nombre}} {{cita.usuario.apellido1}}</td>
                        <td>{{cita.fecha}}</td>
                        <td>{{cita.hora}}</td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls 
            (pageChange)="page = $event"
            previousLabel="Anterior"
            nextLabel="Siguiente"
            ></pagination-controls>
        </div>
    </div>
</div>