  <div class="container col-md-6">
        <h3>RESERVAR CITA</h3>
        <form (ngSubmit)="add()" name="formulario" role="form" [formGroup]="formulario">
          <div class="form-group">
            <label class="fecha"for="">FECHA:</label>
            <input formControlName="fecha" name="fecha" type="date" class="form-control">
          </div>
          <div class="form-group">
            <label for="">HORA:</label>
            <input formControlName="hora" name="hora" type="time" class="form-control">
          </div>
          <button type="submit" class="btn btn-danger">RESERVAR</button>
        </form>
  </div>