<div class="container">
            <h1>Inventario <button class="btn btn-warning boton-nuevo" routerLink="/addinventario">Nuevo</button></h1> 
        <div class="body">
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th>NOMBRE</th>
                        <th>EXISTENCIAS</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let material of inventario | paginate: { itemsPerPage: 5, currentPage: page }" class="text-center">
                        <td>{{material.nombre}}</td>
                        <td>{{material.existencias}}</td>
                        <td>
                            <button (click)="Editar(material)" class="btn btn-warning boton-editar">Editar</button>
                            <button (click)="Delete(material)" class="btn btn-danger boton-eliminar">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls 
            (pageChange)="page = $event"
            previousLabel="Anterior"
            nextLabel="Siguiente"
            class="paginacion"
            ></pagination-controls>
    </div>
</div>