<div class="container">
            <h1><strong>PERFIL</strong></h1> 
        <div class="body">
            <table class="table table-hover text-center">
                <tbody>
                    <tr class="text-center">
                        <td><strong>NOMBRE</strong></td>
                        <td>{{usuarioSesion.nombre}}</td>
                    </tr>
                    <tr class="text-center">
                        <td><strong>PRIMER APELLIDO</strong></td>
                        <td>{{usuarioSesion.apellido1}}</td>
                    </tr>
                    <tr class="text-center">
                        <td><strong>SEGUNDO APELLIDO</strong></td>
                        <td>{{usuarioSesion.apellido2}}</td>
                    </tr>
                    <tr class="text-center">
                        <td><strong>NOMBRE DE USUARIO</strong></td>
                        <td>{{usuarioSesion.login}}</td>
                    </tr>
                    <tr class="text-center">
                        <td><strong>CONTRASEÑA</strong></td>
                        <td>{{usuarioSesion.password}}</td>
                    </tr>
                    <tr class="text-center">
                        <td><strong>CORREO ELECTRÓNICO</strong></td>
                        <td>{{usuarioSesion.email}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>