<nav class="navbar navbar-expand-lg navbar-light bg-light menu-header">
    <div class="container-fluid">
      <a class="navbar-brand" routerLinkActive="active" routerLink="/home">BARBER WEB</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
       aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" *ngIf="message && messageTipoUsuario == 1">
            <a class="nav-link" routerLink="/usuario">Usuarios</a>
          </li>
          <li class="nav-item" *ngIf="message && messageTipoUsuario == 1">
            <a class="nav-link" routerLink="/inventario">Inventario</a>
          </li>
          <li class="nav-item" *ngIf="message">
            <a class="nav-link" routerLink="/cita">Citas</a>
          </li>
          <li class="nav-item" *ngIf="message">
            <a class="nav-link" routerLink="/servicios">Servicios</a>
          </li>
          <li class="nav-item" *ngIf="message && messageTipoUsuario == 1">
            <a class="nav-link" routerLink="/serviciosRealizados">Servicios Realizados</a>
          </li>
          <li class="nav-item" *ngIf="!message">
            <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
          </li>
          <li class="nav-item" *ngIf="message">
            <a class="nav-link" routerLink="/logout">Logout</a>
          </li>
          <li class="nav-item align-right" *ngIf="!message" style="border-right:1px solid white;">
            <a class="nav-link" routerLink="/register">Registrarse</a>
          </li>
          <li class="nav-item d-flex" *ngIf="message" style="border-right:1px solid white;">
            <a class="nav-link" routerLink="/perfil">{{oSessionService.nombre}}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  