<div class="container col-md-8">
            <h1><strong>SERVICIOS</strong></h1> 
        <div class="body">
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th>NOMBRE</th>
                        <th>PRECIO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let servicio of servicios" class="text-center">
                        <td>{{servicio.nombre}}</td>
                        <td>{{servicio.precio}}€</td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>