<div class="container col-md-6">
    <div class="card">
      <div class="card-header">
        <h3>Actualizar Inventario</h3>
      </div>
      <div class="card-body">
        <form action="">
          <div class="form-group">
            <label for="">Nombre:</label>
            <input [(ngModel)]="inventario.nombre" name="nombre" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Existencias:</label>
            <input [(ngModel)]="inventario.existencias" name="existencias" type="text" class="form-control">
          </div>
          <button (click)="Actualizar(inventario)" class="btn btn-danger">Guardar</button>
        </form>
      </div>
    </div>
  </div>